:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

form {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  padding: 2px;
  width: 25%;
}

input {
  flex-grow: 2;
  border: none;
}

input:focus {
  outline: none;
}

button {
  border: 1px solid rgb(0, 0, 0);
  background: blue;
  color: white;
}
